name: CI

on:
  push:
    branches: [ main* ]
  pull_request:
    branches: [ main* ]

jobs:
  build-sources:
    strategy:
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v3
      with:
          java-version: '11'
          distribution: 'temurin'
      
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2

    - name: Build Sources
      run: cd scout && ./gradlew assemble --stacktrace

  build-sources-with-compiled-keys:
    strategy:
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v3
      with:
          java-version: '11'
          distribution: 'temurin'
      
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2

    - name: Build Sources
      run: cd scout && ./gradlew assemble -Dscout.compile.keys=true --stacktrace

  run-unit-tests:
    strategy:
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v3
      with:
          java-version: '11'
          distribution: 'temurin'
      
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2

    - name: Run Unit-Tests
      run: cd scout && ./gradlew test --stacktrace

  run-unit-tests-with-compiled-keys:
    strategy:
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v3
      with:
          java-version: '11'
          distribution: 'temurin'
      
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2

    - name: Run Unit-Tests
      run: cd scout && ./gradlew test -Dscout.compile.keys=true --stacktrace

  check-license-headers:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Check License Headers
      run: ./scripts/check-license-headers.sh

  run-benchmarks:
    strategy:
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
    - uses: actions/setup-java@v3
      with:
          java-version: '11'
          distribution: 'temurin'
    
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2

    - name: Checkout Current
      uses: actions/checkout@v4
      
    - name: Control Benchmarks
      run: cd scout && ./gradlew :measures:jvm-benchmarks:run --args="1"
    
    - name: Changed Benchmarks
      run: cd scout && ./gradlew :measures:jvm-benchmarks:run --args="1"

    - name: Export Compare Result
      id: export_result
      run: |
        content=`cat scout/measures/jvm-benchmarks/results/compare.txt`
        content="${content//'%'/'%25'}"
        content="${content//$'\n'/'%0A'}"
        content="${content//$'\r'/'%0D'}"
        echo "::set-output name=compareResult::$content"
    - run: |
        echo "${{steps.export_result.outputs.compareResult}}"

    - name: Publish Compare Result
      uses: actions/github-script@v6
      with:
        script: |
          github.rest.issues.createComment({
            issue_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            body: context.steps.export_result.outputs.compareResult
          })